.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

/* my styles */
nav a {
  padding: 5px;
  margin: 0 10px;
  border: 1px solid black;
  color: white;
  text-decoration: none;
}

#historyTable {
  margin-top: 50px;
  min-width: 970px;
  text-align: left;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}